<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link type="text/css" rel="stylesheet" href="../static/css/annotorious.css" />
    <script type="text/javascript" src="../static/annotorious.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script>

      //  for(let i = 0; i < result.length; i++){
      //   console.log(result[i]['data'])
      // }


      function init() {
        $.getJSON("http://54.174.197.7/kit", function(result){
          console.log(result)
          for(let i = 0; i < result.length;i++){
            $( "#main" ).append( "<img height='200' src="+'http://54.174.197.7'+ result[i]['src']+">" );
          }
          });
      }


    </script>

    <body onload="init();">
      <div id='main'> </div>

    </body>


</html>
